# Serveur
PORT=3000

# MongoDB (pour votre connexion Mongoose)
MONGO_URI=mongodb://root:root@localhost:27017/mydb?authSource=admin

# JWT
JWT_SECRET=123456789pipi
JWT_EXPIRES_IN=1h

# MongoDB 
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=root
MONGO_INITDB_DATABASE=mydb

# mongo-express UI
MONGO_EXPRESS_USERNAME=admin
MONGO_EXPRESS_PASSWORD=admin

